<style>
    .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }

    .list-group-item-action {
        width: 100%;
        color: #495057;
        text-align: inherit;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #f8f9fa;
    }

    .list-group-item-action:active {
        color: #212529;
        background-color: #e9ecef;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .list-group-item.disabled, .list-group-item:disabled {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    .list-group-item + .list-group-item {
        border-top-width: 0;
    }

    .list-group-item + .list-group-item.active {
        margin-top: -1px;
        border-top-width: 1px;
    }

    .list-group-horizontal {
        flex-direction: row;
    }

    .list-group-horizontal .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }

    .list-group-horizontal .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }

    .list-group-horizontal .list-group-item.active {
        margin-top: 0;
    }

    .list-group-horizontal .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }

    .list-group-horizontal .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px;
    }

    .scroll-content {
        max-height: 365px;
        position: relative;
        display: block;
        overflow: auto;
    }

</style>
<div class="scroll-content">
    {% if description %}
    <p>{{description}}</p>
    {% endif %}
    {% if dateCreated %}
    <p><b><i class="fa fa-fw fa-clock"/> Created: </b> {{ dateCreated | date }}</p>
    {% endif %}
    {% if dateModified %}
    <p><b><i class="fa fa-fw fa-clock"/> Modified: </b> {{ dateModified | date }}</p>
    {% endif %}
    {% if relatedSource %}
    <h5>Related sources</h5>
    {% for source in relatedSource %}
    <p>Application: {{ source.application}}</p>
    <p>ApplicationEntityId: {{ source.applicationEntityId}}</p>
    {% endfor %}
    {% endif %}
    {% if seeAlso %}
    <h5>See Also</h5>
    {% for item in seeAlso %}
    <p><a href="{{item | safe}}">{{agroVocConcept | safe}}</a></p>
    {% endfor %}
    {% endif %}
    {% if hasAgriParcel %}
    <p><b><i class="fa fa-fw fa-clock"/> Parcel: </b> {{ hasAgriParcel }}</p>
    {% endif %}
    <h5>Soil</h5>
    <ul class="list-group">
        {% if soilTemperature %}
        <li class="list-group-item"><b>Temperature: </b> {{ soilTemperature }}</li>
        {% endif %}
        {% if soilMoistureVwc %}
        <li class="list-group-item"><b>Moisture Vwc: </b> {{ soilMoistureVwc }}</li>
        {% endif %}
        {% if soilMoistureEc %}
        <li class="list-group-item"><b>Moisture Ec: </b> {{ soilMoistureEc }}</li>
        {% endif %}
        {% if soilSalinity %}
        <li class="list-group-item"><b>Salinity Ec: </b> {{ soilSalinity }}</li>
        {% endif %}
    </ul>
    <h5>Leaf</h5>
    <ul class="list-group">
        {% if leafWetness %}
        <li class="list-group-item"><b>Wetness: </b> {{ leafWetness }}</li>
        {% endif %}
        {% if leafRelativeHumidity %}
        <li class="list-group-item"><b>Relative Humidity: </b> {{ leafRelativeHumidity }}</li>
        {% endif %}
        {% if leafTemperature %}
        <li class="list-group-item"><b>Temperature: </b> {{ leafTemperature }}</li>
        {% endif %}
    </ul>
    {% if airTemperature %}
    <p><b>Air emperature: </b> {{ airTemperature }}</p>
    {% endif %}
    {% if solarRadiation %}
    <p><b>Solar Radiation: </b> {{ solarRadiation }}</p>
    {% endif %}
    {% if relativeHumidity %}
    <p><b>Relative Humidity: </b> {{ relativeHumidity }}</p>
    {% endif %}
    {% if atmosphericPressure %}
    <p><b>Atmospheric Pressure: </b> {{ atmosphericPressure }}</p>
    {% endif %}
    {% if hasDevice %}
    <h5>Devices</h5>
    <ul class="list-group">
        {% for device in hasDevice %}
        <li class="list-group-item"> {{ device }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if observedAt %}
    <p><b>Observed At: </b> {{ observedAt }}</p>
    {% endif %}
</div>