
<div class="overflow-auto table-responsive">
    <table class="table">
        <tbody>
        {% if id %}
            <tr>
                <td>Id</td>
                <td>{{id}}</td>
            </tr>
        {% endif %}
        {% if type %}
        <tr>
            <td>Type</td>
            <td>{{type}}</td>
        </tr>
        {% endif %}
        {% if category %}
        <tr>
            <td>Category</td>
            <td>{{category}}</td>
        </tr>
        {% endif %}
        {% if subCategory %}
        <tr>
            <td>SubCategory</td>
            <td>{{subCategory}}</td>
        </tr>
        {% endif %}
        {% if location  %}
        <tr>
            <td>Location</td>
            <td>{{location | json_string}}</td>
        </tr>
        {% endif %}
        {% if source %}
        <tr>
            <td>Source</td>
            <td>{{source}}</td>
        </tr>
        {% endif %}
        {% if description %}
        <tr>
            <td>Description</td>
            <td>{{description}}</td>
        </tr>
        {% endif %}
        {% if data %}
        <tr>
            <td>Data</td>
            <td>{{data | json_string}}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
