
<div class="overflow-auto table-responsive">
    <table class="table">
        <tbody>
        {% if id %}
        <tr>
            <td>Id</td>
            <td>{{id}}</td>
        </tr>
        {% endif %}
        {% if type %}
        <tr>
            <td>Type</td>
            <td>{{type}}</td>
        </tr>
        {% endif %}
        {% if category %}
        <tr>
            <td>Category</td>
            <td>{{category}}</td>
        </tr>
        {% endif %}
        {% if batteryLevel %}
        <tr data-action="onTestFail">
            <td>BatteryLevel</td>
            <td>{{batteryLevel}}</td>
        </tr>
        {% endif %}
        {% if refDeviceModel %}
        <tr data-action="onClick">
            <td>Ref DeviceModel</td>
            <td>{{refDeviceModel}}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
