<style>
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .entity{
        margin: 1rem 0;
        font-family: Lato, sans-serif;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
    }
    .entity h2{
        font-size: 1rem;
        color: #8a8a8a;
    }
    .entity .entity__id{
        font-weight: bold;
    }
    .entity .entity__type{
        font-size: 0.8rem;
    }
    .entity .table {
        font-size: 0.9rem;
    }
</style>
<div class="entity">
    <h2><i class="fas fa-qrcode"></i> <span class="entity__id">{{id}}</span> / <span class="entity__type">{{type}}</span></h2>
<div class="overflow-auto table-responsive">
    <table class="table">
        <tbody>
        {% if id %}
        <tr>
            <td>Id</td>
            <td>{{id}}</td>
        </tr>
        {% endif %}
        {% if type %}
        <tr>
            <td>Type</td>
            <td>{{type}}</td>
        </tr>
        {% endif %}
        {% if category %}
        <tr>
            <td>Category</td>
            <td>{{category}}</td>
        </tr>
        {% endif %}
        {% if modelName %}
        <tr>
            <td>Model Name</td>
            <td>{{modelName}}</td>
        </tr>
        {% endif %}
        {% if name %}
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        {% endif %}
        {% if manufacturerName %}
        <tr>
            <td>Manufacturer Name</td>
            <td>{{manufacturerName}}</td>
        </tr>
        {% endif %}
        {% if brandName %}
        <tr>
            <td>Brand Name</td>
            <td>{{brandName}}</td>
        </tr>
        {% endif %}
        {% if controlledProperty %}
        <tr>
            <td>Controlled Property</td>
            <td>{{controlledProperty}}</td>
        </tr>
        {% endif %}

        </tbody>
    </table>

</div>
</div>
